---
import Layout from '../layouts/Layout.astro';
import PostsHomeNews from '../components/PostsHomeNews.astro';
import PostsHomeMovie from '../components/PostsHomeMovie.astro';
import PostsHomeTrailer from '../components/PostsHomeTrailer.astro';
import '../styles/home.scss';
import '../styles/archive.scss';

import { GraphQLClient } from 'graphql-request';
const page_id = '3118'; // id ของหน้าแรก
const client = new GraphQLClient('https://assets.onlygroub.com/graphql');
const query = `
        query GetPageById($id: ID!) {
            page(id: $id, idType: DATABASE_ID) {
                id
                title
                slug
                date
                seo {
                    title
                    metaDesc                    
                    breadcrumbs {
                        url
                        text
                    }
                    cornerstone
                    schema {
                        pageType
                        articleType
                        raw
                    }
                }
            }
        }
`;
const variables = { id: page_id };
const data : any = await client.request(query, variables);
---
<Layout title={data.page.seo.title} seo={data.page.seo}>
	<main>
        <div class="py-2 md:py-10 space-y-4 max-w-screen-md mx-auto">
            <h1 class="text-2xl sm:text-3xl md:text-5xl font-semibold text-white text-center">ONLYGROUB</h1>
        </div>
		<PostsHomeNews />
		<hr class="hr" />
		<PostsHomeMovie />
		<hr class="hr" />
		<PostsHomeTrailer />
	</main>
</Layout>