---
---
<div class="ads">
    <div class="inner">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4356102593773307" crossorigin="anonymous" is:inline type="text/partytown"></script>
            <!-- ONLYFROUB336 -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:336px;height:280px"
                data-ad-client="ca-pub-4356102593773307"
                data-ad-slot="9591821159"></ins>
            <script is:inline type="text/partytown">
                // @ts-ignore
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    </div>
</div>