---
import { Image } from 'astro:assets';

import { formatDateToThai } from '../lib/formatDate';

const { next , prev } = Astro.props;
---
<div class="post-navigation">
    <div class="post-prev">
        <span class="title">ก่อนหน้า</span>
        {
            prev && (
                <a href={`/${prev.slug}`}>
                    <span class="name">{prev.title}</span>
                </a>
            )
        }
    </div>
    <div class="post-next">
        <span class="title">ถัดไป</span>
        {
            next && (
                <a href={`/${next.slug}`}>
                    <span class="name">{next.title}</span>
                </a>
            )
        }
    </div>
</div>